extends ./layout/index

block contenido
  main(class="container mt-5")  
    div(class="row")
      div(class="col-md-5")
        img(class="img-fluid" src="/img/nosotros.jpg" alt="nosotros")
      div(class="col-md-7") 
        h1 #{pagina}
        blockquote ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur velit enim, luctus elementum diam maximus a. Ut molestie ligula vitae cursus commodo. Duis laoreet bibendum hendrerit. Suspendisse ligula nulla, dictum eu aliquet a, consequat et quam. Sed vulputate posuere sagittis.

        p tincidunt erat erat, eget dignissim massa vulputate nec. Aliquam ultrices aliquam sollicitudin. In auctor ornare nibh luctus tincidunt. Sed lobortis imperdiet sem quis fermentum. Pellentesque accumsan sollicitudin libero, id porta est egestas sed. Ut ornare nibh quis nulla scelerisque cursus. Sed eget lacus ac ex eleifend ultricies. 

        p scelerisque ante nec accumsan sodales. Quisque vitae condimentum nisi. In hac habitasse platea dictumst. Fusce non nisi suscipit, rutrum orci in, dictum enim. Phasellus fringilla tellus risus, et condimentum lacus dignissim auctor.
  
  div(class="listado-iconos")
    div(class="container mt-5 py-5 text-center")
      div(class="row")
        div(class="col-md-4")
          img(class="img-fluid mb-4" src="/img/icono_seguridad.svg" alt="Icono de seguridad")
          h2(class="mb-4") Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maxime accusamus iure commodi rerum.
        div(class="col-md-4")
          img(class="img-fluid mb-4" src="/img/icono_destinos.svg" alt="Icono de destino")
          h2(class="mb-4") Mejores Destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maxime accusamus iure commodi rerum.
        div(class="col-md-4")
          img(class="img-fluid mb-4" src="/img/icono_precios.svg" alt="Icono de precios")
          h2(class="mb-4") Los Mejores Precios 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maxime accusamus iure commodi rerum.